
.calculator{
    
    background-color: rgb(245,245,245);
    padding-top:110px;
    position: absolute;
    width: 230px;
    height: 500px;

    border-radius: 20px;
    left:45%;
    top:15%;
}

.buttons{
    width: 100%;
}
button{
    background: rgb(247,247,247);
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 3px;
    font-size:20px;
    box-shadow: 0.5px 0.5px 2px rgba(50,50,50,0.5) !important;
    border: solid 3px rgb(251,251,251);
}
input{
    width:100px;
    margin: 10px;
    border:none;
}



.bg-transparent{
background-color: transparent; 
}
.button0{
  width:85px!important;  
padding: 5px;
    margin-left:5px; 
    border-radius: 25px;
    font-size:20px;
}

button:hover{
    border: solid 1px rgb(251,251,251);
    box-shadow:inset 2px 1px 1px rgba(100,100,100,0.4)!important;
    font-size:19px;
}

.equal:hover{
   background-color: rgba(0,245,0,1);
  animation-name: green;
  animation-duration: 0.3s;
    border: solid 1px rgb(251,251,251);
    box-shadow:inset 2px 1px 1px rgba(200,200,200,1)!important;
    font-size:19px; 
    
}

@keyframes green {
  0% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 100%,  rgba(0,245,0,0) 0%)
    
    }
    10% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 100%,  rgba(0,245,0,1) 5%)
    
    }
    20% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 90%,  rgba(0,245,0,1) 10%)
    
    }
    30% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 80%,  rgba(0,245,0,1) 20%)
    
    }
    40% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 70%,  rgba(0,245,0,1) 30%)
    
    }
   50% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 60%,  rgba(0,245,0,1) 40%)
    
    }
    60% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 50%,  rgba(0,245,0,1) 50%)
    
    }
    70% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 40%,  rgba(0,245,0,1) 60%)
    
    }
    80% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 30%,  rgba(0,245,0,1) 70%)
    
    }
        90% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 20%,  rgba(0,245,0,1) 80%)
    
    }
        100% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 10%,  rgba(0,245,0,1) 90%)
    
    }

}

.ac-c:hover{
    background-color: rgba(245,0,0,1);
  animation-name: red;
  animation-duration: 0.3s;
    border: solid 1px rgb(251,251,251);
    box-shadow:inset 2px 1px 1px rgba(200,200,200,1)!important;
    font-size:19px; 
}

@keyframes red {
  0% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 100%,  rgba(245,0,0,0) 0%)
    
    }
    10% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 95%,  rgba(245,0,0,1) 5%)
    
    }
    20% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 90%,  rgba(245,0,0,1) 10%)
    
    }
    30% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 80%,  rgba(245,0,0,1) 20%)
    
    }
    40% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 70%,  rgba(245,0,0,1) 30%)
    
    }
   50% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 60%,  rgba(245,0,0,1) 40%)
    
    }
    60% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 50%,  rgba(245,0,0,1) 50%)
    
    }
    70% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.8) 40%,  rgba(245,0,0,1) 60%)
    
    }
    80% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.7) 30%,  rgba(245,0,0,1) 70%)
    
    }
        90% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.6) 20%,  rgba(245,0,0,1) 80%)
    
    }
        100% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.5) 10%,  rgba(245,0,0,1) 90%)
    
    }

}


.operations:hover{
    background-color: rgba(240, 207, 5,1);
  animation-name: yellow;
  animation-duration: 0.3s;
    border: solid 1px rgb(251,251,251);
    box-shadow:inset 2px 1px 1px rgba(200,200,200,1)!important;
    font-size:19px; 
}

@keyframes yellow {
  0% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 100%,  rgba(240, 207, 5,0) 0%)
    
    }
    10% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 95%,  rgba(240, 207, 5,1) 5%)
    
    }
    20% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 90%,  rgba(240, 207, 5,1) 10%)
    
    }
    30% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 80%,  rgba(240, 207, 5,1) 20%)
    
    }
    40% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 70%,  rgba(240, 207, 5,1) 30%)
    
    }
   50% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 60%,  rgba(240, 207, 5,1) 40%)
    
    }
    60% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 50%,  rgba(240, 207, 5,1) 50%)
    
    }
    70% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.8) 40%,  rgba(240, 207, 5,1) 60%)
    
    }
    80% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.7) 30%,  rgba(240, 207, 5,1) 70%)
    
    }
        90% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.6) 20%,  rgba(240, 207, 5,1) 80%)
    
    }
        100% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.5) 10%,  rgba(240, 207, 5,1) 90%)
    
    }

}

.numbers:hover{
    background-color: orange;
  animation-name: orange;
  animation-duration: 0.3s;
    border: solid 1px rgb(251,251,251);
    box-shadow:inset 2px 1px 1px rgba(200,200,200,1)!important;
    font-size:19px; 
}

@keyframes orange {
  0% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 100%,  rgba(256,256,256,0) 0%)
    
    }
    10% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 95%,  orange 5%)
    
    }
    20% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 90%,  orange 10%)
    
    }
    30% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 80%,  orange 20%)
    
    }
    40% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 70%,  orange 30%)
    
    }
   50% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 60%,  orange 40%)
    
    }
    60% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,1) 50%,  orange 50%)
    
    }
    70% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.8) 40%,  orange 60%)
    
    }
    80% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.7) 30%,  orange 70%)
    
    }
        90% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.6) 20%,  orange 80%)
    
    }
        100% {
      
      background-image: linear-gradient(90deg, rgba(245,245,245,0.5) 10%,  orange 90%)
    
    }

}

.mobile{
    
    position: absolute;
    left:-27%;
    top:0%;
    width: 350px;
   height: auto; 
}